@import '../../__data__/style/colors.css';

.main {
    border-radius: 10px;
    min-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    border: none;

    &:focus {
        outline-color: var(--black);
    }
}

.purple {
    background-color: var(--crimson-neon);
}

.blue {
    background-color: var(--blue-neon);
}
