@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.wrapper {
    margin-top: var(--offset-md);

    .label {
        display: block;
        font-size: 20px;
        font-weight: 700;
    }

    .field {
        margin-top: 5px;
        display: block;
        height: 40px;
        background-color: var(--crimson-neon);
        opacity: 0.1;
        width: 100%;
        border: none;
        border-radius: 10px;
        outline-color: var(--black);
        padding: 3px 15px;
        font-size: 16px;
    }
}
