@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.focus-wrapper {
    outline: none;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--offset-lg));
}

.wrap {
    width: 100vw;
    height: calc(100vh - 60px);
    background: var(--white-9);
    margin-left: auto;
    margin-right: auto;
}

.line {
    line-height: 25px;
}

.info {
    display: flex;
    height: calc(100vh - 60px);
    flex-direction: row;
    justify-content: space-between;

    .info-photo{
        display: flex;
        flex-direction: column;
        width: 50%;
        background-image: url("../../asset/img/main/info-photo.png");
        background-size: cover;
    }

    .info-text {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;

    .text-t {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 50px;
        height: 80px;
        width: 100%;
        padding-bottom: var(--offset-md);

        .l-s-text {
            margin-right: 10px;
            margin-left: 10px;
            font-size: 64px;
            line-height: 20px;
        }

        .l-s-text-b {
            margin-right: 10px;
            margin-left: 10px;
            font-size: 36px;
            line-height: 1.015;
            font-weight: 500;
            white-space: pre-line;
            color: var(--black-8);
        }

        .l-s-text-a {
            margin-right: 10px;
            margin-left: 10px;
            font-size: 26px;
            line-height: 1.2;
            color: var(--blue-2);
            cursor: pointer;
        }

        .l-s-text-a::after {
            content: ">";
            color: var(--blue-2);
        }
    }
}