@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
}

.wrap {
    display: flex;
    width: 100vw;
    max-width: 100vw;
    background: var(--white);
    flex-direction: column;
}


