:root {
    --white: white;
    --white-9: #e5e7e8;

    --grey: #fafafa;
    --grey-3: #e0e0e0;


    --black: black;
    --black-7: #20232a;
    --black-8: #262626;

    --blue: #2599ee;
    --blue-2: #1e87f0;

    --red: #e01e1e;
}