.nav-butt {
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    color: var(--white);
    font-size: 18px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    /*transition: color 0.2s ease-out 0s;*/
}

