.nav-butt {
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    color: var(--white);
    font-size: 18px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    span:hover {
        color: var(--blue);
        transition: all .3s ease;
    }
}